<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity D10.a: Basic Dark Mode Toggle</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/script.js" defer></script>
</head>

<body>
    <div id="top">Top Anchor</div>
    <a href="#top" id="backToTop">🡹 Back to top</a>
    <header>
        Howler
        <label><input type="checkbox" id="darkModeToggle"> Toggle Dark Mode</label>
    </header>
    <main>
        <nav class="container">
            <ul>
                <li><a href="../">Home</a></li>
                <li>Notifications</li>
                <li>Messages</li>
                <li>Profile</li>
                <li><a href="../company/about">About</a></li>
            </ul>
        </nav>
        <div>
            <p>This is the HOWLER</p>
        </div>
    </main>
    <footer>
        © 2024 Howler
    </footer>
</body>

</html>