<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/frame.css">
    <link rel="stylesheet" href="css/success.css">
    <script src="js/success.js" defer></script>
    <title>Success</title>
</head>

<body>
    <header>

    </header>
    <main>
        <h1>Payment sent!</h1>
        <section id="recipientDetails">
            <h2></h2>
            <p></p>
            <form action="/" method="GET">
                <button type="submit">Send another payment</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>