main table {
    height: 100%;
    padding: 30px;
}

main table tr td {
    width: 33%;
    min-width: 250px;
    background-color: gray;
    border: solid 5px rgb(80, 80, 80);
    border-radius: 10px;
    margin: 5px;
    padding: 15px;
}

main table tr td a {
    text-decoration: none;
    color: white;
    font-size: 11pt;
}

main table tr td img {
    width: 100%;
}

main table tr td h2 {
    margin: 0px;
}