<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/headerDropdown.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/miscUI.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="js/login.js" type="module"></script>
    <title>Login to Howler</title>
</head>

<body>
    <header class="c-primary">
        <section id="header-left">
            
        </section>
        <section id="header-center">
            <a><h1>HOWLER</h1></a>
        </section>
        <section id="header-right">
            <div></div>
            <div></div>
            <img src="images/avatarDefault.png" alt="avatar">
        </section>
    </header>

    <main>
        <div id="content">
            <div class="hidden" id="login-error">
                <h6></h6>
            </div>
            <form id="login-form">
                <div class="c-primary-greyed primary-content border-1">
                    <h3>Log in to Howler</h3>
                    <label for="username">Username</label>
                    <input name="username" type="text" placeholder="Username" id="username" required>
                </div>
                <button class="c-primary-dark hover-shadow-5 border-2" type="submit">Log in</button>
           </form>
           
        </div>
    </main>

    <!-- TEMPLATES -->
    
</body>

</html>